div {
    height: 50px;
    width: 100px;
    /*border: 2px solid black;*/
    border: 2px dashed black;
    border-radius: 5px;
    display: block;
    /*display: inline;*/
    /*display: inline-block;*/
    float:right;
}

#one {
    background-color: #FF0000 ;
    /*display: none;*/
    padding-top: 20px;
    margin-bottom: 20px;
}

#two {
    background-color: #0000FF ;
}

#three {
    background-color: #FFD700 ;
    /*float: left;*/
    /*clear: both;*/
    position: fix;
}

#four {
    background-color: #308014 ;
    float: right;
}